script(type='text/javascript', src='/jquery/dist/jquery.min.js')
script(type='text/javascript', src='/bootstrap/dist/js/bootstrap.min.js')
script(type='text/javascript', src='/angular/angular.js')
script(type='text/javascript', src='/AngularJS-Toaster/toaster.js')
script(type='text/javascript', src='/angular-animate/angular-animate.js')
script(type='text/javascript', src='/app/app.js')
